<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="nova.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
       body {
    color: #800202;
    /* background: #232323; */
    background: black;
    font: 100% system-ui;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    /* border: 3px solid rgb(80, 33, 80); */
    /* background-color: rgba(46, 83, 102, 0.247); */
    background-color: rgba(24, 29, 32, 0.4);
  }
  nav div {
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    border-right: 1px solid rgb(80, 33, 80);
    /* border-left: 1px solid rgb(80, 33, 80); */
  }
  nav h2:hover{
    color: rgb(35, 63, 105);
    cursor: pointer;
  }
  h1 {
    color: #747373;
  } */
    </style>
</head>
<body>
    <nav>
        <div style="border-left: 1px solid rgb(80, 33, 80);">
            <h2>profile</h2>
        </div>
        <div>
            <a href="/home"> HOME </a>
        </div>
        <div>
            <h2>Add</h2>
        </div>
        <div>
            <h2>SEARCH</h2>
        </div>
        <div>
            <h2>Exit</h2>
        </div>

    </nav>
   <h1> Hello NOVA </h1>