<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
    <style>
      #img{
        width: 43px;
        height: 43px;
      }
      #btn{
        display: flex;
        align-items: center;
        font-size: 27px;
        border: 3px solid rgb(95, 93, 93);
        box-shadow: 0 0 0 5px gray;
        box-shadow: 0 0 0 6px black;
        margin-left: 10%;
        margin-top: 7%;
      }
      #btn:hover{
        cursor: pointer;
      }
      </style>
    <h1 style="font-family: 'Lobster', cursive;">Welcome to </h1>
    <h1 style="font-family: 'Lobster', cursive; margin: 2%; font-size: 200px;"><%= title %></h1>
    <a style="text-decoration: none;" href="/auth/google"> <button id="btn"><img id="img" src="/images/google1.png" alt=" Google "> Login with Google</button></a>
  </body>
</html>
