<!DOCTYPE html>
<html>
  <head>
    <!-- TITLE IS GIVEN TO THE VIEWS BY THE CONTROLLERS WHICH DIRECT THEM HERE  -->
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  </head>
  <body>
    <style>
      body {
          background-image: url('/images/NOVA2.jpeg');
          /* background-image: url('https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701926239.jpg'); */
          background-size: 100%;
          background-color: black;
          padding: 50px;
          font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
        a {
          color: rgb(170, 18, 18);
        }
        h1{
          color: rgb(83, 69, 69);
     }
      #img{
        width: 43px;
        height: 43px;
      }
      #btn{
        display: flex;
        align-items: center;
        font-size: 27px;
        border: 3px solid rgb(95, 93, 93);
        box-shadow: 0 0 0 5px gray;
        box-shadow: 0 0 0 6px black;
        margin-left: 10%;
        margin-top: 7%;
      }
      #btn:hover{
        cursor: pointer;
      }
      </style>
    <h1 style="font-family: 'Lobster', cursive;">Welcome to </h1>
    <h1 style="font-family: 'Lobster', cursive; margin: 2%; font-size: 200px;"><%= title %></h1>
    <a style="text-decoration: none;" href="/auth/google"> <button id="btn"><img id="img" src="/images/google2.png" alt=" Google "> Login with Google</button></a>
  </body>
</html>
